firebase_admin
pandas
protobuf==3.20.0
pydeck
streamlit
stqdm
beautifulsoup4
openai
lxml
langchain_community
langchain_core
langchain_openai
langchain-pinecone
pinecone
git+https://github.com/openai/swarm.git