firebase-admin
pandas
protobuf==3.20.0
pydeck
streamlit
stqdm
beautifulsoup4
openai
lxml
langchain_community
langchain_core
langchain_openai
langchain-pinecone
pinecone
google-cloud-firestore==2.20.2
git+https://github.com/openai/swarm.git