firebase_admin==6.5.0
pandas==2.2.3
protobuf==5.28.2
pydeck==0.9.1
streamlit==1.38.0
stqdm==0.0.5
beautifulsoup4==4.12.2
openai==1.51.2
lxml
git+https://github.com/openai/swarm.git
langchain_community==0.3.0
langchain_core==0.3.0
langchain_openai==0.2.0
faiss-cpu==1.8.0